* {
    font-family: sans-serif;
}

body {
    background-image: url('JOTAIN33.gif');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.info {
    position: relative;
    background-color: black;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    border: 2px solid red;
    color: white; /* Set the text color to red */
    cursor: pointer;
    overflow: hidden;
    text-transform: uppercase;
    background: transparent;
}

.high {

        position: relative;
        background-color:black;
        width: 200px;
        padding: 15px 0;
        text-align: center;
        margin: 20px 10px;
        font-weight: bold;
        color: #ffff;
        cursor: pointer;
        overflow: hidden;
        text-transform: uppercase;
        background:transparent;
        border: none;

}

span { *{
    font-family: sans-serif;
    color:white;
}

body {
    background-image: url('JOTAIN33.gif');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.info {
    position: relative;
    background-color: black;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    border: 2px solid ;
    color: white; /* Set the text color to white */
    cursor: pointer;
    overflow: hidden;
    text-transform: uppercase;
    background: transparent;
}
.high {
    position: relative;
    background-color: black;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    color: #ffff;
    cursor: pointer;
    overflow: hidden;
    text-transform: uppercase;
    background: transparent;
    border: none;
}

button:hover span {
    width: 100%;
    background-color: black; /* Change the background color on hover */
}


.top {
    width: 100%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ff3737;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-size: 25px;
high};
    height: 100%;
    width: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: width 0.5s, background-color 0.5s; /* Add transition for smooth animation */
    background-color:white;
}

.high:hover {
    color:#ff3737;
}

button:hover span {
    width: 100%;
    background-color: #ff3737; /* Change the background color on hover */
}

.KeskiTeksti {
    width: 100%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ff3737;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
h1 {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #ffffff;
    font-size: 100px;
    top: 5%;
    left: 50%;
}

P{
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #ffffff;
    font-size: 30px;
}

.Image {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 100px; 
    height: 5px; 
}

.top {
    width: 100%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ff3737;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-size: 25px;
}```
